name: Backend CI

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check_backend:
    name: Backend CI Checks
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: backend

    steps:
      - name: Tells GitHub to pull your repository’s code into the runner
        uses: actions/checkout@v4

      - name: Install node so that we can use the npm commands
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install dependencies
        run: npm ci

      - name: Audit
        run: npm run audit:ci

      - name: Lint
        run: npm run lint

      - name: Test the code
        run: npm run test:ci

  check_frontend:
    name: Frontend CI Checks
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: frontend

    steps:
      - name: Tells GitHub to pull your repository’s code into the runner
        uses: actions/checkout@v4

      - name: Install node so that we can use the npm commands
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install dependencies
        run: npm ci

      - name: Audit
        run: npm run audit:ci

      - name: Lint
        run: npm run lint

  test_e2e:
    needs: [check_backend, check_frontend]
    name: Test End to End
    runs-on: ubuntu-latest
    strategy:
      matrix:
        browser: [firefox, chrome, edge]

    steps:
      - name: Tells GitHub to pull your repository’s code into the runner
        uses: actions/checkout@v4

      - name: Install node so that we can use the npm commands
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install dependencies in backend
        working-directory: backend
        run: npm ci

      - name: Install dependencies in frontend
        working-directory: frontend
        run: npm ci

      - name: Start backend API
        working-directory: backend
        run: |
          npm run start:e2e &
          echo "Waiting for backend on http://localhost:3000/health ..."
          for i in {1..10}; do
            if curl -sSf http://localhost:3000/health > /dev/null; then
              echo "Backend is up !"
              exit 0
            fi
            echo "Still waiting..."
            sleep 2
          done
          echo "Backend did not start in time !"
          exit 1

      - name: Run Cypress E2E tests
        uses: cypress-io/github-action@v6
        with:
          working-directory: frontend
          build: npm run build:test
          start: npm run preview:test
          wait-on: "http://localhost:4173"
          browser: ${{ matrix.browser }}
          wait-on-timeout: 60
          config: baseUrl=http://localhost:4173

  Build_frontend:
    needs: test_e2e
    name: Build frontend
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: frontend

    steps:
      - name: Tells GitHub to pull your repository’s code into the runner
        uses: actions/checkout@v4

      - name: Install node so that we can use the npm commands
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install dependencies
        run: npm ci

      - name: Run Build
        run: npm run build:only

      - name: Artifact upload
        uses: actions/upload-artifact@v4
        with:
          name: frontend-artifact
          path: /dist

  # Deploy:
  #   needs: Build_frontend
  #   name: Deploy App
  #   runs-on: ubuntu-latest

  #   defaults:
  #     run:
  #       working-directory: dist

  #   steps:
  #     - name: Tells GitHub to pull your repository’s code into the runner
  #       uses: actions/checkout@v4

  #     - name: Artifact upload
  #       uses: actions/upload-artifact@v4
  #       with:
  #         name: my-artifact
  #         path: /dist

  #     - name: VPN Connect

  # - name: SCP

  # - name: Copy files via SSH
  #   uses: appleboy/scp-action@v1
  #   with:
  #     host: ${{ secrets.HOST }}
  #     username: ${{ secrets.USERNAME }}
  #     password: ${{ secrets.PASSWORD }}
  #     port: ${{ secrets.PORT }}
  #     source: "tests/a.txt,tests/b.txt"
  #     target: your_server_target_folder_path
